<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="learnhubstudio.physicsXI">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="learnhubstudio.physicsXI.MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/Ads_id" />

        <activity android:name=".special_thanks" />

        <activity android:name=".NotesActivity" />

        <activity android:name=".ContactForm" />

        <activity android:name=".Chapter" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PlayAgain" />
        <activity android:name=".GameWon" />
        <activity android:name=".Time_Up" />
        <activity android:name=".MainGameActivity" />
        <activity android:name=".VideoActivity" />
        <activity
            android:name=".ytplayer1"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name=".SplashActivity" />
        <activity
            android:name=".term"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Privacypolicy"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>